:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background-color: #f2f4f5;
    margin: 0;
  }
  
  /* Makes the page take up at least the full screen */
  .page-container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }
  
  /* pushes footer to bottom */
  .main-content {
      flex: 1;
  }