.home-main {
    display: flex;
    flex-direction: column;
  }

.h1 {
  display: flex;
  padding: 0 20px;
}

.button-group {
  display: flex;
  justify-content: left;
  gap: 20px;
  flex-wrap: wrap;
  padding : 20px 50px;
  border-bottom: 2px solid #858282;

}

.btn {
  background-color: #c56461;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}

.btn.selected {
  background-color: #007bff; /* Selected background color */
  color: #fff; /* Selected text color */
  border-color: #007bff;
}

.resetbtn {
  background-color: #8b8787;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  align-items: center;
}
